{{> head}}



    {{> navbar}}
    
    <div class="row">
        <div class="col-8">
            <h1>Bryan Daniel Celis Alcala</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis accusamus, laboriosam eveniet fugit necessitatibus quam accusantium magnam incidunt id, dolores numquam consectetur mollitia? Praesentium voluptas, sunt minus possimus eum distinctio.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/yo.jpg" class="img-thumbnail">
        </div>
        
    </div>


{{> foot}}